form{
    width:350px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;   
}
[type="text"], select {
    width: 300px;
    height: 25px;
    margin-bottom: 10px;
}
[type="number"]{
    width: 300px;
    height: 25px;
    margin-bottom: 10px; 
}
label {
    font-weight: bold;
}
fieldset{
    background-color: rgb(245, 245, 245);
    border: none;
    padding: 15px 22px 30px 40px;
}
[type="submit"]{
    background-color: rgb(51, 122, 183);
    margin-top: 10px;
    border: none;
    color: white;
    padding: 10px;
    font-size:16px;
}
.box{
    margin: auto;
    
}